
    <!DOCTYPE html>
    <html>
        {% block head %}
            <head>
                {# Title #}
                 <title>Ecofynity</title>

                {# Icon #}
                <link rel="icon" href="{{ general.full_images_url }}logo/logo.ico">

                {# Metadata #}
                <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="description" content="Ecofynity">
                <link rel="manifest" href="site.webmanifest">
                <meta name="viewport" content="width=device-width, initial-scale=1">

                {# Bootstrap V-4.1.2 (CSS) #}
                <link rel="stylesheet" type="text/css" href="{{ general.full_assets_url }}framework/bootstrap-4.1.2/bootstrap.min.css">

                {# Google-Font #}
                <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700" rel="stylesheet">

                {# Iconos #}
                <link rel="stylesheet" href="{{ general.full_assets_url }}template/fonts/style.css">

                {# CSS Main Views (Template) #}
                <link rel="stylesheet" href="{{ general.full_assets_url }}template/css/animate.css">
                <link rel="stylesheet" href="{{ general.full_assets_url }}template/css/flexslider.css">
                <link rel="stylesheet" type="text/css" href="{{ general.full_assets_url }}template/css/magnific-popup.css">

                {# CSS Main (Template) #}
                <link rel="stylesheet" type="text/css" href="{{ general.full_assets_url }}template/css/style.css">

                {# Main (CSS) #}
                <link rel="stylesheet" type="text/css" href="{{ general.full_assets_url }}css/main.css">
                <link rel="stylesheet" type="text/css" href="{{ general.full_assets_url }}css/user/main.css">
            </head>
        {% endblock %}

        <body data-spy="scroll" data-target="#pb-navbar" data-offset="200">

            {# Icono de 'Pre-carga del Contenido' #}
            <div id="preloader-active">
                <div class="preloader d-flex align-items-center justify-content-center">
                    <div class="preloader-inner position-relative">
                        <div class="preloader-circle"></div>
                        <div class="preloader-img pere-text">
                            <img src="{{ general.full_images_url }}logo/logo_alone.png" alt="">
                        </div>
                    </div>
                </div>
            </div>

            {% block content %}
                {#Código HTML para cada vista#}
            {% endblock %}

        </body>

        {# Scripts generales #}
        {{ include('footer-scripts.twig') }}

        {% block footer_scripts %}
            {# Scripts propios de cada documento #}
        {% endblock %}
    </html>