
    <section class="site-section" id="section-portfolio">
        <div class="container">

            {# Tútulo #}
            <div class="row">
                <div class="section-heading text-center col-md-12">
                    <h2>Nuestros <strong>Productos</strong></h2>
                </div>
            </div>

            {# Categorías #}
            <div class="filters">
                <ul class="js-ul-categories">
                    <li class="active" data-number="*" data-filter="*">All</li>
                    {# Recorremos las categorías y renderizamos un en un 'li' por cada una #}
                    {% for categories in data_categories %}
                        {# Reemplazamos los espacios en blanco (' ') del 'data-filter', por un guión bajo ('_') #}
                        <li data-filter=".{{ categories.nombre|replace({' ': '_'}) }}" data-number="{{ categories.id_categoria }}">{{ categories.nombre }}</li>
                    {% endfor %}
                </ul>
            </div>

            {# Productos #}
            <div class="filters-content">
                <div class="row grid">
                    {# Contenido cargado dinámicamente por JS #}
                </div>
            </div>
        </div>
    </section>

    {# Sección de contenedores Ocultos #}
    <div class="css-element-hide js-hide-html-container-products">
        <div class="single-portfolio col-sm-4 all js-product-category">
            <div class="relative">
                <div class="thumb">
                    <div class="overlay overlay-bg"></div>
                    <img class="image img-fluid" src="{{ general.full_images_url }}p1.jpg" alt="">
                </div>
                <a href="{{ general.full_images_url }}p1.jpg" class="img-pop-up">
                    <div class="middle">
                        <div class="text align-self-center d-flex">
                            <img src="{{ general.full_images_url }}preview.png" alt="">
                        </div>
                    </div>
                </a>
            </div>
            <div class="p-inner">
                <h4 class="js-h4-product-name">{# Contenido cargado dinámicamente por JS #}</h4>
                {#<div class="cat">Mockup</div>#}
            </div>
        </div>
    </div>